div.row {
  clear:both;
  }

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  float: right;
  width: 235px;
  text-align: left;
  }

div.row span.left {
  float: left;
  text-align: left;
  font-weight: bold;
  color: #fff;
  width: 49%;
  }

div.row span.right {
  float: right;
  text-align: right;
  font-weight: bold;
  color: #fff;
  width: 49%;
  }

div.container {
  border: 1px dashed #666;
  background-color: #f9f9f9;
  }


div.float {
  width: 120px;
  padding: 10px;
  float: left;
  }

div.spacer {
  clear: both;
  }

div.float img {
  margin-left: 5px;
  }

div.float p {
  font-size: 9px;
  text-align: center;
  }


abbr, acronym, .help {
  border-bottom: 1px dotted #333;
  cursor: help;
  }

li.inline {
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  border-right: 1px dotted #066;
  }

li.last {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  border-right: 0px;
  } 

p.credit {
  font-size: 9px;
  color: #333;
  text-align: right;
  }

